.tarif {
    padding-top: 25px;

    mat-card {
        margin: 10px;
    }

    .title {
        font-size: 24px;
        margin-bottom: 20px;
        margin-left: 14px;
    }

    .table {
        margin-bottom: 15px;
        table {
            width: 100%;
        }
    }
}
