<div class="tarif" *ngIf="mCompany">
    <div class="title">
        {{'tarifs'| translate}}:&nbsp;{{ mCompany.name }}
    </div>

    <mat-card class="mat-elevation-z4">
        <div class="table">
            <table mat-table [dataSource]="mTariffs" class="mat-elevation-z8">
   
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> № </th>
                  <td mat-cell *matCellDef="let element"> {{ element.number }} </td>
                </ng-container>
            
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> {{'date_from' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.dateBegin | date: "dd.MM.yyyy" }} </td>
                </ng-container>
            
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> {{'date_to' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.dateEnd | date: "dd.MM.yyyy"}} </td>
                </ng-container>
            
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> {{'tr_amount' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="editTarif(row)"></tr>
    
            </table>
    
        </div>
    
        <button mat-raised-button color="primary" (click)="addTariff()">{{'add'| translate}}</button>
    </mat-card>

</div>
