<div class="report">
    <div class="top">
        <button mat-icon-button (click)="datePrev()"><mat-icon>arrow_back_ios_new</mat-icon></button>
        <div class="date" (click)="picker.open()"> {{ mDate | date: "LLLL yyyy" : undefined : 'ru-RU'  }} </div>
        <button mat-icon-button (click)="dateNext()"><mat-icon>arrow_forward_ios</mat-icon></button>
        <input matInput [(ngModel)]="mDate" (ngModelChange)="getReport()" [matDatepicker]="picker" style="width: 0; height: 0; opacity: 0;">
        <mat-datepicker startView="year" (monthSelected)="closeDatePicker($event, picker)" #picker></mat-datepicker>

        <div class="settings">
            <mat-slide-toggle [(ngModel)]="mShowLink" color="primary" (click)="mShowLink = !mShowLink">Показывать ссылки</mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="mSplitByCompany" color="primary" (click)="mSplitByCompany = !mSplitByCompany">Разбить по компаниям</mat-slide-toggle>
        </div>

    </div>

    <div class="bottom">
        <div class="company_container" *ngIf="!mSplitByCompany">

            <table class="days" *ngIf="mReport.timeReport">
                <tr class="day head">
                    <th class="date">{{ "ac_date" | translate }}</th>
                    <th class="time">{{ "ac_hours" | translate }} </th>
                </tr>
    
                <tr class="day" *ngFor="let day of mReport.timeReport">
                    <td class="date">{{ day.date | date: "dd.MM.yyyy" }}</td>
                    <td class="time"> {{ day.hours }} </td>
                </tr>
        
                <tr class="day total">
                    <td class="date total">{{ "ac_total" | translate }}</td>
                    <td class="time total">{{ mReport.totalHours.totalhours }} </td>
                </tr>
            </table>
    
            <table class="tasks" *ngIf="mReport.taskReport">
                <tr class="task head">
                    <th class="company">{{ "company" | translate }}</th>
                    <th class="name">{{ "task" | translate }}</th>
                    <th class="link" *ngIf="mShowLink">{{ "link" | translate }}</th>
                    <th class="time" *ngIf="showTotalHours" (click)="showTotalHours = !showTotalHours">{{ "ac_hours" | translate }}</th>
                    <th class="time" *ngIf="!showTotalHours" (click)="showTotalHours = !showTotalHours">{{ "ac_hours" | translate }}</th>
                    <th class="tarif">{{ "tarif" | translate }}</th>
                    <th class="cost">{{ "cost" | translate }}</th>
                </tr>
                <tr class="task" *ngFor="let task of mReport.taskReport">
                    <td class="company">{{ task.company }}</td>
                    <td class="name">{{ task.task }}</td>
                    <td class="link" *ngIf="mShowLink"><a [href]="task.url" target="_blank">{{ task.url }}</a></td>
                    <td class="time" *ngIf="showTotalHours">{{ task.hours }}</td>
                    <td class="time" *ngIf="!showTotalHours">{{ task.hourArray }}</td>
                    <td class="tarif">{{ task.tarif |currency: 'RUB':'symbol':undefined:'ru-RU'  }}</td>
                    <td class="cost">{{ task.cost |currency: 'RUB':'symbol':undefined:'ru-RU'  }}</td>
                </tr>
        
                <tr class="task total">
                    <td class="name total" colspan=2>{{ "ac_total" | translate }}</td>
                    <td class="link" *ngIf="mShowLink">&nbsp;</td>
                    <td class="time" *ngIf="showTotalHours">{{ mReport.totalHours.totalhours  }}</td>
                    <td class="time" *ngIf="!showTotalHours">{{ mReport.totalHours.totalhours  }}</td>
                    <td class="tarif">&nbsp;</td>
                    <td class="cost">{{ mReport.totalHours.totalcost  |currency: 'RUB':'symbol':undefined:'ru-RU'  }}</td>
                </tr>
            </table>

        </div>

        <ng-container *ngIf="mSplitByCompany">
            <ng-container *ngFor="let company of mReport.companyReport">
                <div class="company_name"> {{ company.company }} </div>
                <div class="company_container">

                    <table class="days" *ngIf="mReport.timeReport">

                        <tr class="day head">
                            <th class="date">{{ "ac_date" | translate }}</th>
                            <th class="time">{{ "ac_hours" | translate }} </th>
                        </tr>
            
                        <tr class="day" *ngFor="let day of company.hourReport">
                            <td class="date">{{ day.date | date: "dd.MM.yyyy" }}</td>
                            <td class="time"> {{ day.hours }} </td>
                        </tr>
            
                        <tr class="day total">
                            <td class="date total">{{ "ac_total" | translate }}</td>
                            <td class="time total">{{ company.totalhours }} </td>
                        </tr>
                    </table>

                    <table class="tasks" *ngIf="mReport.taskReport">
                        <tr class="task head">
                            <th class="name">{{ "task" | translate }}</th>
                            <th class="link" *ngIf="mShowLink">{{ "link" | translate }}</th>
                            <th class="time" *ngIf="showTotalHours" (click)="showTotalHours = !showTotalHours">{{ "ac_hours" | translate }}</th>
                            <th class="time" *ngIf="!showTotalHours" (click)="showTotalHours = !showTotalHours">{{ "ac_hours" | translate }}</th>
                            <th class="tarif">{{ "tarif" | translate }}</th>
                            <th class="cost">{{ "cost" | translate }}</th>
                        </tr>

                        <ng-container *ngFor="let task of mReport.taskReport">
                            <tr class="task" *ngIf="task.company == company.company" >
                                <td class="name">{{ task.task }}</td>
                                <td class="link" *ngIf="mShowLink"><a [href]="task.url" target="_blank">{{ task.url }}</a></td>
                                <td class="time" *ngIf="showTotalHours">{{ task.hours }}</td>
                                <td class="time" *ngIf="!showTotalHours">{{ task.hourArray }}</td>
                                <td class="tarif">{{ task.tarif |currency: 'RUB':'symbol':undefined:'ru-RU'  }}</td>
                                <td class="cost">{{ task.cost |currency: 'RUB':'symbol':undefined:'ru-RU'  }}</td>
                            </tr>
                        </ng-container>
                        
                        <tr class="task total">
                            <td class="name total">{{ "ac_total" | translate }}</td>
                            <td class="link" *ngIf="mShowLink">&nbsp;</td>
                            <td class="time" *ngIf="showTotalHours">{{ company.totalhours  }}</td>
                            <td class="time" *ngIf="!showTotalHours">{{ company.totalhours  }}</td>
                            <td class="tarif">&nbsp;</td>
                            <td class="cost">{{ company.totalcost  |currency: 'RUB':'symbol':undefined:'ru-RU'  }}</td>
                        </tr>
                    </table>

                </div>
            </ng-container>
        </ng-container>

    </div>


    <!-- <div class="bottom">
        <div class="task"  *ngFor="let task of mTasks">
            <div class="task_title"  (touchstart)="editTask(task.task)"  (dblclick)="editTask(task.task)">
                <div class="title_name"> {{task.task.name}} </div>
                <a class="title_url" target="_blank" [href]="task.task.url">{{task.task.url}}</a>
            </div>
            <div class="time_begin" (touchstart)="editTime(task)" (dblclick)="editTime(task)">{{ task.begin | date: "HH:mm" }}</div>
            <div class="time_dash" ></div>
            <div class="time_end" (touchstart)="editTime(task)" (dblclick)="editTime(task)">  {{ task.end   | date: "HH:mm" }}</div>
            <button class="time_delete" (click)="deleteTime(task)"><mat-icon>delete_forever</mat-icon></button>
        </div>
    </div>

    <button mat-button (click)="newTime()" mat-flat-button color="primary">{{ 'add' | translate }}</button>

    <div class="total">
        <div class="total_caption">Итого</div>
        <div class="total_value"> {{ mDayTotal }}</div>
    </div>

    <div class="total money">
        <div class="total_caption">Заработано</div>
        <div class="total_value"> {{ mDayTotalMoney |currency: 'RUB':'symbol':undefined:'ru-RU' }}</div>
    </div> -->

</div>