.report {
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 25px;

    .top {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;

        .date {
            font-size: 24px;
            height: 40px;
            line-height: 43px;
            cursor: pointer;
            &:first-letter {
                text-transform: uppercase;
            }
        }

        .settings {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    .bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 5px;
        margin-bottom: 25px;
        border-radius: 4px;

        .company_name {
            font-size: 24px;
            height: 40px;
            line-height: 43px;
        }

        .company_container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }

            .days {
                border-collapse: collapse;
                .day {
                    .date {
                        border: 1px solid gray;
                        padding: 5px;
                        background: #ffffd7;
                    }
                    .time {
                        border: 1px solid gray;
                        padding: 5px;
                        background: #dee6ef;
                    }
    
                    &.head {
                        .date,
                        .time {
                            background: #c5ffc5;
                        }
                    }
    
                    &.total {
                        .date,
                        .time {
                            background: #ffffa2;
                        }
                    }
                }
            }

            .tasks {
                border-collapse: collapse;
                width: 100%;

                .task {
                    .company,
                    .name,
                    .link,
                    .time,
                    .tarif,
                    .cost {
                        border: 1px solid gray;
                        padding: 5px;
                    }
    
                    .name {
                        width: 99%;
                    }
    
                    &.head {
                        td, th {
                            background: #c5ffc5;
                        }
                    }
                    &.total {
                        td, th {
                            background: #ffffa2;
                        }
                    }
                    th {
                        &.time {
                            cursor: pointer;
                        }
                    }
                }
    
                tr {
                    td {
                        &.toggle {
                            padding-top: 5px;
                            padding-left: 5px;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                        }
                    }
                }            
            }
        }
    }
}