.tasks {
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 25px;

    .top {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;

        .date {
            font-size: 24px;
            height: 40px;
            line-height: 43px;
            cursor: pointer;
        }

        .company ::ng-deep {
            .mat-form-field-wrapper {
                .mat-form-field-flex {
                    .mat-form-field-infix {
                        font-size: 24px;
                    }
                }
                .mat-form-field-underline {
                    display: none;
                }
            }
        }
    }

    .bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        padding: 5px;
        border: 1px solid lightsteelblue;
        margin-bottom: 10px;
        border-radius: 4px;
    
        .task {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            background: #f1f8ff;
            border-radius: 4px;
            margin-bottom: 4px;
            padding: 5px;
            border: 1px solid #9fb0e2;
            position: relative;

            &:last-child {
                margin-bottom: 0;
            }
        
            .task_title {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                background: #f1f8ff;
                border-radius: 4px;
                padding: 5px;
                padding-left: 10px;
                margin-right: 5px;
                flex-grow: 10;

                cursor: pointer;
                &:hover {
                    background: #bbdafa;
                }

                .title_name {
                    font-size: 19px;
                    line-height: 20px;
                    color: #273379;
                    margin-bottom: 5px;
                }

                .title_url {
                    color: dodgerblue;
                    font-size: 12px;
                    line-height: 12px;
                }

                .company_title {
                    color: #333;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 16px;
                    margin-bottom: 6px;
                }
            }
            .time_begin,
            .time_end  {
                height: 100%;
                margin: 2px;
                border-radius: 4px;
                flex-grow: 0;

                background: #f1f8ff;
                font-size: 18px;
                line-height: 31px;
                color: #273379;
                padding: 8px;
                cursor: pointer;
                &:hover {
                    background: #bbdafa;
                }
            }
            .time_end   {
                margin-left: 5px;
            }
            .time_dash {
                margin: 2px;
                border: 1px solid #273379;
                width: 8px;
            }

            .time_delete {
                border: none;
                background: none;
                outline: none;
                width: 18px;
                height: 18px;
                position: absolute;
                top: 1px;
                right: 5px;
                cursor: pointer;

                mat-icon {
                    width: 18px;
                    height: 18px;
                    font-size: 17px;
                }

                &:hover {
                    mat-icon {
                        color: darkred;
                    }
                }
                
            }
        }
    }

    .total {
        margin-top: 15px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .total_caption {
            font-size: 24px;
            color: #333;
        }
        .total_value   {
            font-size: 24px;
            color: #333;
        }
    

        &.money {
            margin-top: 2px;
            .total_caption {
                font-size: 14px;
                color: royalblue;
            }
            .total_value {
                font-size: 14px;
                color: royalblue;
            }
        }
    }
}