<div class="tasks">
    <div class="top">
        <button mat-icon-button (click)="datePrev()"><mat-icon>arrow_back_ios_new</mat-icon></button>
        <div class="date" (click)="picker.open()"> {{ mDate | date: "dd.MM.yyyy" }} </div>
        <button mat-icon-button (click)="dateNext()"><mat-icon>arrow_forward_ios</mat-icon></button>
        <input matInput [(ngModel)]="mDate" (ngModelChange)="getDayHistory()" [matDatepicker]="picker" style="width: 0; height: 0; opacity: 0;">
        <mat-datepicker #picker></mat-datepicker>
    </div>

    <div class="bottom">
        <div class="task"  *ngFor="let task of mTasks">
            <div class="task_title"  (touchstart)="editTask(task.task)" (dblclick)="editTask(task.task)">
                <div class="company_title"> {{ task.task.cname }} </div>
                <div class="title_name"> {{task.task.name}} </div>
                <a class="title_url" (click)="$event.stopPropagation();" target="_blank" [href]="task.task.url">{{task.task.url}}</a>
            </div>
            <div class="time_begin" (touchstart)="editTime(task)" (dblclick)="editTime(task)">{{ task.begin | date: "HH:mm" }}</div>
            <div class="time_dash" ></div>
            <div class="time_end" (touchstart)="editTime(task)" (dblclick)="editTime(task)">  {{ task.end   | date: "HH:mm" }}</div>
            <button class="time_delete" (click)="deleteTime(task)"><mat-icon>delete_forever</mat-icon></button>
        </div>
    </div>

    <button mat-button (click)="newTime()" mat-flat-button color="primary">{{ 'add' | translate }}</button>

    <div class="total">
        <div class="total_caption">Итого</div>
        <div class="total_value"> {{ mDayTotal }}</div>
    </div>

    <div class="total money">
        <div class="total_caption">Заработано</div>
        <div class="total_value"> {{ mDayTotalMoney |currency: 'RUB':'symbol':undefined:'ru-RU' }}</div>
    </div>

</div>