<div class="dialog">
    <h1 mat-dialog-title *ngIf="action == 'Edit'" > Изменить компанию </h1>
    <h1 mat-dialog-title *ngIf="action == 'Create'" > Создать компанию </h1>

    <div mat-dialog-content>

        <mat-form-field class="input">
            <input placeholder="{{'name' | translate}}" matInput [(ngModel)]="local_data.name">
        </mat-form-field>

        <mat-form-field class="input">
            <input placeholder="{{'inn' | translate}}" matInput [(ngModel)]="local_data.inn">
        </mat-form-field>

    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="closeDialog()" mat-flat-button color="white">{{ 'cancel' | translate }}</button>
        <button mat-button (click)="doAction()" mat-flat-button color="primary">{{ 'save_settings' | translate }}</button>
    </div>
</div>