<p>
  <button mat-icon-button (click)="changeSelectedLang(1)"><img class="flag" src='../../assets/flags/gb.svg'></button>
  <button mat-icon-button (click)="changeSelectedLang(2)"><img class="flag" src='../../assets/flags/ru.svg'></button>
  <button mat-icon-button (click)="changeSelectedLang(3)"><img class="flag" src='../../assets/flags/jp.svg'></button>
</p>
