@import '../../../common.scss';

.dialog {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 500px;
    .input {
        width: 100%;
    }

    .textarea {
        width: 100%;
        height: 200px;
        resize: none;
    }

    @include w320 {
        width: 240px;
    }
}