<div class="dialog">
    <h1 mat-dialog-title *ngIf="action == 'Edit'" > {{'edit_task' | translate}} </h1>
    <h1 mat-dialog-title *ngIf="action == 'Create'" > {{'create_task' | translate}} </h1>

    <div mat-dialog-content>
        <mat-form-field class="input">
            <mat-select [(value)]="mCurrentCompany" (selectionChange)="onSelectionChange($event)" [disabled]="action == 'Edit'">
              <mat-option *ngFor="let company of mCompanies" [value]="company">{{ company.name }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="input">
            <input placeholder="{{'grp_name' | translate}}" matInput [(ngModel)]="local_data.name">
        </mat-form-field>

        <mat-form-field class="input">
            <input placeholder="{{'grp_url' | translate}}" matInput [(ngModel)]="local_data.url">
        </mat-form-field>
    
        <mat-form-field class="input">
            <textarea class="textarea" matInput placeholder="{{'grp_descr' | translate}}" [(ngModel)]="local_data.descr"></textarea>
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="closeDialog()" mat-flat-button color="white">{{ 'cancel' | translate }}</button>
        <button mat-button (click)="doAction()" mat-flat-button color="primary">{{ 'save_settings' | translate }}</button>
    </div>
</div>