@import '../../../common.scss';

.dialog {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 500px;

    .mat-dialog-content {
        width: 100%;
    }

    .input {
        width: 100%;
        margin-right: 15px;
    }

    .task_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;        
    }

    .time_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .time_input {
            width: 80px;
            margin-right: 15px;
    
            &:last-child {
                margin-right: none;
            }
        }
    }

    .textarea {
        width: 100%;
        height: 200px;
        resize: none;
    }

    @include w320 {
        width: 240px;
    }
}