<div class="dialog">
    <h1 mat-dialog-title *ngIf="action == 'Edit'" > {{'change_time' | translate}} </h1>
    <h1 mat-dialog-title *ngIf="action == 'Create'" > {{'log_time' | translate}} </h1>

    <div mat-dialog-content>

        <div class="task_wrapper">
            <mat-form-field class="input">
                <mat-label>{{'task' | translate}}</mat-label>
                <input type="text"
                       placeholder="{{'task' | translate}}"
                       matInput
                       [(ngModel)]="mTaskName"
                       [disabled]="action == 'Edit'"
                       [matAutocomplete]="auto" (keyup)="getTasks()"> 
                <mat-autocomplete #auto="matAutocomplete" (optionSelected) = "taskSelected($event)">
                  <mat-option *ngFor="let task of mTasks" [value]="task">
                    {{ task.name }}
                  </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <button mat-mini-fab color="accent" (click)="newTask()" *ngIf="action == 'Create'">
                <mat-icon>plus_one</mat-icon>
            </button>
        </div>



        <div class="time_wrapper">
            <mat-form-field class="time_input">
                <input type=time placeholder="{{'date_from' | translate}}" matInput [(ngModel)]="mTimeBegin">
            </mat-form-field>
    
            <mat-form-field class="time_input">
                <input type=time placeholder="{{'date_to' | translate}}" matInput [(ngModel)]="mTimeEnd">
            </mat-form-field>
        </div>

    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="closeDialog()" mat-flat-button color="white">{{ 'cancel' | translate }}</button>
        <button mat-button (click)="doAction()" mat-flat-button color="primary">{{ 'save_settings' | translate }}</button>
    </div>
</div>