.logo_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
    margin-left: -16px;

    .logo {
        font-family: 'Dancing Script', cursive;
        font-size: 45px;
        color: steelblue;
        display: block;
        margin-bottom: 15px;

        &.small {
            font-family: Roboto, "Helvetica Neue", sans-serif;
            font-size: 15px;
            color: rgb(9, 68, 116);
            margin-bottom: 0;
        }
    }
}

.form {
    min-width: 150px;
    max-width: 400px;
    width: 300px;
    margin: auto;
}

.field-full-width {
    width: 100%;
}

.lgn {
    width: fit-content;
    margin: auto;
    margin-top: 10%;
    text-align: center;
}

.mat-card-header,
.mat-card-header-reg {
    justify-content: center;
    margin-bottom: 36px;
}

.mat-card-header-reg {
    border-left: 5px solid white;
}

.mat-card-content>:first-child, .mat-card>:first-child {
    margin-top: 6px;
}

.mat-card-header .mat-card-title {
    margin-bottom: 0px;
    font-weight: 800;
}

.span_pink {
    color: #ff4081;
}

.span_white {
    color: white;
}

.mat-card-actions {
    text-align: center;
}

.primarybg {
    background-color: white;
}

.accentbg {
    background-color: #ff0457;
}

.label_primary {
    color: black;
}

.label_accent {
    color: white;
}

.error_primary,
.error_accent {
    color: #ff0457;
    display: block;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 14px;
    line-height: 14.5px;
    text-align: left;
}

.error_accent {
    color: #3f51b5;
}

.captcha_container {
    overflow: hidden;
    height: 32px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
}

.captcha_inner_container {
    overflow: hidden;
    margin-top: -22px;
    margin-left: -13px;
    width: 41px;
    height: 50px;
}

.captcha_label {
    margin-top: 2px;
    font-size: 15pt;
    margin-left: 5px;
}

.mat-card {
    width: 400px;
}