<div class="lgn">
    <mat-card class="mat-elevation-z5" class="primarybg">
        <mat-card-header class="mat-card-header">
            <div class="logo_container">
                <div class='logo'>TinyTrack</div>
                <div class='logo small'>Your tiny time tracker</div>
            </div>
        </mat-card-header>

        <form class="form" class="label_primary"
        name="regForm" role="form" novalidate (ngSubmit)="doSubmit(regForm)" #regForm="ngForm">

            <mat-form-field class="field-full-width" color="primary">
                <mat-label class="label_primary">{{'login' | translate}}</mat-label>
                <input matInput placeholder="{{'login' | translate}}"
                [(ngModel)]="login" name="login" ngControl="login"  tabindex="1" >
                <div class="error_primary" *ngIf="loginError">{{ loginError }}</div>
                <mat-icon matSuffix (click)="login = ''">clear</mat-icon>
            </mat-form-field>

            <mat-form-field *ngIf="doReg" class="field-full-width" color="primary">
                <mat-label class="label_primary">{{'email' | translate}}</mat-label>
                <input matInput placeholder="{{'email' | translate}}"
                (blur)="doCheckEmail()"
                [(ngModel)]="email" name="email" ngControl="email" >
                <div class="error_primary" *ngIf="emailError">{{ emailError }}</div>
                <mat-icon matSuffix (click)="email = ''">clear</mat-icon>
            </mat-form-field>

            <mat-form-field class="field-full-width" color="primary">
                <mat-label class="label_primary">{{'password' | translate}}</mat-label>
                <input matInput placeholder="{{'password' | translate}}" [type]="hide ? 'text' : 'password'"
                (input)="doCheckPassword()"
                (blur)="doCheckPassword()"
                (keydown)="handleKey($event)"
                [(ngModel)]="pwd" name="pwd" ngControl="pwd"  tabindex="2">
                <div class="error_primary" *ngIf="passwordError">{{ passwordError }}</div>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>

            <mat-form-field *ngIf="doReg" class="field-full-width" color="primary">
                <mat-label class="label_primary">{{'password_again' | translate}}</mat-label>
                <input matInput placeholder="{{'password' | translate}}" [type]="hide ? 'text' : 'password'"
                (input)="doCheckPassword()"
                (blur)="doCheckPassword()"
                [(ngModel)]="pwd2" name="pwd2" ngControl="pwd2"  tabindex="2">

                <div class="error_primary" *ngIf="password2Error">{{ password2Error }}</div>

                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>

            <div *ngIf="doReg" class = 'captcha_container'>
                <div class = 'captcha_inner_container'>
                    <re-captcha [tabindex]=5
                        site_key="6LeWrUEUAAAAAFgjyCWJ3GVnfheCeScHggy82L5o"
                        language='{{"cap_lng" | translate}}'
                        theme="light"
                        size="normal"
                        (captchaResponse)="handleCaptcha($event)">
                    </re-captcha>
                </div>
                <label class='captcha_label'>{{'i_am_human' | translate}}</label>
            </div>

        </form>

        <mat-card-actions>
            <button mat-raised-button *ngIf="!doReg" (click)="doLogin()"  tabindex="3" color="primary">
                {{'log_in' |translate}}
            </button>

            <button mat-raised-button *ngIf="!doReg" (click)="doRegister(0)"  tabindex="4" color="secondary">
                {{'register' | translate}}
            </button>

            <button mat-raised-button *ngIf="doReg"  (click)="doSubmit(regForm)" tabindex="6" [disabled]="!captchaResolved" color="primary">
                {{'register' |translate}}
            </button>
        
            <button mat-raised-button *ngIf="doReg" (click)="doCancel()" tabindex="7" color="secondary">
                {{'cancel' | translate}}
            </button>

        </mat-card-actions>

    </mat-card>
    <lswitcher></lswitcher>

</div>