<div class="container">
    <div class="company">
        <div class="title">
            {{'companies'| translate}}
        </div>
    
        <mat-card class="mat-elevation-z4">
            <div class="table">
                <table mat-table [dataSource]="mCompanies" class="mat-elevation-z8">
       
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> {{'grp_name' | translate}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.name }} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="inn">
                      <th mat-header-cell *matHeaderCellDef> {{'inn' | translate}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.inn}} </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.selected]="mCurrentCompany == row" (click)="selectCompany(row)" (dblclick)="editCompany(row)"></tr>
        
                </table>
        
            </div>
        
            <button mat-raised-button color="primary" (click)="addCompany()">{{'add'| translate}}</button>
        </mat-card>
    </div>

    <tariffs *ngIf="mCurrentCompany" [user]="mUser" [company]="mCurrentCompany" style="flex-grow: 1;" ></tariffs>

    <div *ngIf="!mCurrentCompany" class="placeholder">
        Выберите компанию или создайте новую
    </div>

</div>


