.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    .company {
        padding-top: 25px;
        width: 360px;
    
        mat-card {
            margin: 10px;
        }
    
        .title {
            font-size: 24px;
            margin-bottom: 20px;
            margin-left: 14px;
        }
    
        .table {
            margin-bottom: 15px;
            table {
                width: 100%;
                tr {
                    cursor: pointer;
                    &.selected {
                        background-color: #ffffa2;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .placeholder {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
}
