<div class="tracker" (click) = "mShowUserMenu = false">
    <div class="tracker_inner">
        <div class="header">
            <div class="logo">
                TinyTrack
            </div>
        
            <div class="user" (click)="$event.stopPropagation();"  [class]="{'display_menu' : mShowUserMenu }" *ngIf="mUser">
                <button mat-mini-fab color="white" class="mat-elevation-z1" (click)="$event.stopPropagation(); mShowUserMenu = !mShowUserMenu">
                    <mat-icon class="user_icon">account_circle</mat-icon>
                </button>
                <mat-card class="user_data mat-elevation-z5" *ngIf="mShowUserMenu">
                    <mat-icon class="user_icon_large">account_circle</mat-icon>
                    <div class="data_login" *ngIf="mUser.login">{{ mUser.login }}</div>
                    <div class="data_email" *ngIf="mUser.email">{{ mUser.email }}</div>
                    <button mat-raised-button (click)="doLogout()"> {{ 'tt_exit' | translate }}</button>
                </mat-card>
              </div>
        </div>

        <div class="panel">
            <mat-tab-group>
                <mat-tab label="{{'tracker'| translate}}">
                    <ng-template matTabContent>
                        <tasks [user]="mUser"></tasks>
                    </ng-template>
                </mat-tab>
            
                <mat-tab label="{{'companies'| translate}}">
                    <ng-template matTabContent>
                        <company [user]="mUser"></company>
                    </ng-template>
                </mat-tab>

                <mat-tab label="{{'users'| translate}}">
                    <ng-template matTabContent>
                        <users [user]="mUser"></users>
                    </ng-template>
                </mat-tab>
            
                <mat-tab label="{{'tt_report' |translate}}">
                    <ng-template matTabContent>
                        <report [user]="mUser"></report>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>