.tracker {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    background: lightgrey;
    height: 100%;

    .tracker_inner {
        background: white;
        border-radius: 8px;
        border: 1px solid gray;
        padding: 8px;
        width: 100%;
        max-width: 1200px;

        .panel {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
        
        mat-card {
            margin: 10px;
        }
        
        
        .header {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            margin-top: 15px;
            position: relative;
            
            .logo {
                font-family: 'Dancing Script', cursive;
                font-size: 25px;
                color: steelblue;
                display: block;
            }
        
            .user {
                position: absolute;
                top: -10px;
                right: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-end;
            
                &.display_menu {
                    z-index: 5;
                }
            
                .user_data {
                    margin-top: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
            
                    .user_icon_large {
                        font-size: 60px;
                        width: 60px;
                        height: 60px;
                        margin-bottom: 10px;
                    }
            
                    .data_login {
                        font-size: 16px;
                        line-height: 22px;
                        font-weight: 500;
                        color: black;
                    }
            
                    .data_email {
                        font-size: 14px;
                        line-height: 19px;
                        font-weight: 400;
                        font-stretch: normal;
                        color:rgb(77, 77, 77);
                        margin-bottom: 40px;
                    }
                }
            
            }
        }
    }
}
    




