<div class="container">
    <div class="users">
        <div class="title">
            {{'users'| translate}}
        </div>
    
        <mat-card class="mat-elevation-z4">
            <div class="table">
                <table mat-table [dataSource]="mUserList" class="mat-elevation-z8">
       
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> {{'username' | translate}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.login }} </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.selected]="mCurrentSelectedUser == row" (click)="selectUser(row)"></tr>
        
                </table>
            </div>
        </mat-card>
    </div>

    <div *ngIf="!mCurrentSelectedUser" class="placeholder">
        Выберите пользователя
    </div>
</div>