/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//Screen sizes
$_599: 599px; $_600: 600px;
$_639: 639px; $_640: 640px;
$_959: 959px; $_960: 960px;
$_1439: 1439px; $_1440: 1440px;
$_1919: 1919px; $_1920: 1920px;

.mat-tab-group {
    max-width: unset;
    width: 100%;
}

@mixin w320 {
    @media only screen and (min-width: 0) and (max-width: $_599) {
        @content;
    }
}

@mixin w640 {
    @media only screen and (min-width: $_600) and (max-width: $_959) {
        @content;
    }
}

@mixin w960 {
    @media only screen and (min-width: $_960) and (max-width: $_1439) {
        @content;
    }
}

@mixin w1440 {
    @media only screen and (min-width: $_1440) and (max-width: $_1919) {
        @content;
    }
}

@mixin w1920 {
    @media only screen and (min-width: $_1920) {
        @content;
    }
}
