<div class="dialog">
    <h1 mat-dialog-title *ngIf="action == 'Edit'" > Изменить тариф </h1>
    <h1 mat-dialog-title *ngIf="action == 'Create'" > Создать тариф </h1>

    <div mat-dialog-content>

        <mat-form-field class="input">
            <input matInput [matDatepicker]="datepicker1" placeholder="{{'date_from' | translate}}" [(ngModel)]="local_data.dateBegin" >
            <mat-datepicker-toggle matSuffix [for]="datepicker1"></mat-datepicker-toggle>
        </mat-form-field>

        <mat-form-field class="input">
            <input matInput [matDatepicker]="datepicker2" placeholder="{{'date_to' | translate}}" [(ngModel)]="local_data.dateEnd" >
            <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
        </mat-form-field>
    
        <mat-form-field class="input">
            <input placeholder="{{'tr_amount' | translate}}" matInput [(ngModel)]="local_data.amount">
        </mat-form-field>

        <mat-datepicker #datepicker1></mat-datepicker>
        <mat-datepicker #datepicker2></mat-datepicker>

    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="closeDialog()" mat-flat-button color="white">{{ 'cancel' | translate }}</button>
        <button mat-button (click)="doAction()" mat-flat-button color="primary">{{ 'save_settings' | translate }}</button>
    </div>
</div>